main {
    background: rgb(30, 30, 30);
    color: #fff;
    min-height: 100vh;
    padding: 20px 40px;
}

.banner {
    display: flex;
    background: #c49331;
    background: linear-gradient(44deg, rgba(196, 147, 49, 1) 10%, rgba(230, 218, 53, 1) 55%);
    justify-content: center;
    border-radius: 50px 0 50px 0;
    width: 100%;
    margin: auto;
}

.banner .char_banner {
    height: 100%;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

section#description .box {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

section#description .box .char_description {
    margin: 20px;
}

section#description .box .char_fullart {
    max-width: 400px;
    background: #c49331;
    background: linear-gradient(44deg, rgba(196, 147, 49, 1) 10%, rgba(230, 218, 53, 1) 55%);
    border-radius: 50px 0 50px 0;
}

section#description .box .sub_title {
    display: flex;
    gap: 20px;
}

section#description .box .sub_title hr {
    width: 5px;
    border: 1px solid rgba(230, 218, 53, 1);
    background-color: rgba(230, 218, 53, 1);
}

section#description table {
    width: 80%;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0, 20px;
    text-align: center;
    border: 2px solid black;
}


section#description table td:nth-child(even) {
    background-color: rgb(132, 132, 132);
}


section#description table td:nth-child(odd) {
    background-color: rgb(57, 57, 57);
}

section#description table th {
    background-color: rgb(16, 16, 16);
}

section#description table th,
section#description table td {
    padding: 20px;
}

section#builds .btns {
    display: flex;
    justify-content: center;
    gap: 40px;
}

section#builds .btns input {
    display: none;
}

section#builds .btns label {
    background-color: rgb(57, 57, 57);
    padding: 0.5rem 1.1rem  ;
    width: 30%;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-bottom: 4px solid rgb(0, 0, 0);
    transition: 0.5s;
    cursor: pointer;
}

section#builds .btns label:hover {
    background-color: rgb(132, 132, 132);
    border-color: rgb(57, 57, 57);
}

section#builds .btns input:checked + label {
    background-color: rgb(132, 132, 132);
    border-color: rgb(57, 57, 57);
    border-bottom-color: rgba(230, 218, 53, 1);
}

section#builds .w-engines-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 50px;
}

section#builds .w-engines-container .w-engine-box {
    display: flex;
    flex-direction: column;
    /* padding: 5px 30px; */
    width: 80%;
    background-color: rgb(57, 57, 57);
    border: 2px solid rgb(132, 132, 132);
}

section#builds .w-engines-container .w-engine-box .header-engine-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    cursor: pointer;
}

section#builds .w-engines-container .w-engine-box .header-engine-box div {
    display: flex;
    align-items: center;
    gap: 20px;
}

section#builds .w-engines-container .w-engine-box .header-engine-box i {
    transition: all 0.3s ease;
}
section#builds .w-engines-container .w-engine-box .header-engine-box i.rotate {
    transform: rotate(180deg);
}

section#builds .w-engines-container .description-box {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0 30px;
    background-color: rgb(30, 30, 30);
    transition: all 0.3s ease;
}
section#builds .w-engines-container .description-box.active {
    opacity: 1;
    max-height: 150px;
    padding: 10px 30px;
}