head {
    display: flex;
    flex-direction: row;
}

hr {
    border: 1px solid black;
    width: 95%;
    margin: auto;
}

.bg-main {
    position: fixed;
    z-index: -100;
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(15, 15, 15);
    color: #fff;
    justify-content: space-between;
    padding: 5px 50px;
    z-index: 10;
}

header div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .game-icon {
    max-width: 50px;
    border-radius: 10px;
}

main {
    background-color: #272727;
    width: 90vw;
    min-height: 100vh;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.logo {
    max-width: 200px;
    margin-left: 10%;
}

section#about {
    position: relative;
    display: flex;
    padding: 50px;
    background-image: url(../images/about-wallpaper.jpg);
}

section#about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #272727;
    background: linear-gradient(0deg, rgba(39, 39, 39, 1) 10%, rgba(39, 39, 39, 0.58) 55%);
    z-index: 1;
}

section#about > * {
    position: relative;
    z-index: 2;
}

section#about div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section#about div h1 {
    margin-bottom: 20px;
}

section#characters {
    margin: 40px 0;
}

section#characters h1 {
    margin-left: 100px;
}

.tier_list {
    width: 90%;
    margin: auto;
}

.tier_list table {
    border-collapse: separate;
    border-spacing: 0, 20px;
    width: 100%;
}

.tier_list table thead {
    position: sticky;
    top: 60px;
}

.tier_list table th:nth-child(even):not(:first-child),
.tier_list table td:nth-child(even):not(:first-child) {
    background-color: rgb(31, 31, 31);
}

.tier_list table th:nth-child(odd):not(:first-child),
.tier_list table td:nth-child(odd):not(:first-child) {
    background-color: rgb(16, 16, 16);
}

.tier_list table th {
    padding: 10px 0;
}

.tier_list table td {
    padding: 40px 10px;
}

.tier_list table .char {
    display: flex;
    justify-content: space-around;
}

.tier_list table .char a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    text-align: center;
    background-color: rgb(205, 177, 100);
    padding: 3px 0 5px 0;
    border-radius: 27px 0 0 0;
}

.tier_list table .t0 .rank {
    background-color: red;
    text-align: center;
}

.tier_list table .t0-5 .rank {
    background-color: tomato;
    text-align: center;
}

.tier_list table .t1 .rank {
    background-color: orange;
    text-align: center;
}

.tier_list table .t1-5 .rank {
    background-color: rgb(255, 185, 55);
    text-align: center;
}

.tier_list table .t2 .rank {
    background-color: rgb(255, 196, 86);
    text-align: center;
}

.tier_list table .t3 .rank {
    background-color: green;
    text-align: center;
}

.tier_list table .t4 .rank {
    background-color: greenyellow;
    text-align: center;
}

.selector-icon {
    max-width: 150px;
}

footer {
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer .hoyoverse-logo {
    max-width: 500px;
}

footer .plataformas {
    color: #fff;
    line-height: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .logos-plataformas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}